body{
      background-color: #ECF9FF;
    }
hr {
    width: 5%;
    border-style: dotted none none;
    border-width: 5px;
    border-color: grey;
}
h1{
    color: #400E32;
}

h3{
    color: #66BFBF;
}
